<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
    body{
        background-color: #000000;
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
    }
    h2 {
        color: #ffffff;
    }
    h3 {
        color: #c2bfbf;
    }
</style>
</head>
<body>
    <h2>Hello World, This is my new HOME for Car Rentals Website !</h2>
    <h3>We're excited to welcome you here.</h3>
    
</body>
</html>